kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

resources:
- ../../ping-cloud

patchesStrategicMerge:

# Remove PingAccess primary-cluster resources
- |-
  apiVersion: apps/v1
  kind: StatefulSet
  metadata:
    name: pingaccess-admin
  $patch: delete

- |-
  apiVersion: v1
  kind: Service
  metadata:
    name: pingaccess-admin
  $patch: delete

- |-
  apiVersion: extensions/v1beta1
  kind: Ingress
  metadata:
    name: pingaccess-admin-ingress
  $patch: delete

- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: pingaccess-backup
  $patch: delete

- |-
  apiVersion: batch/v1beta1
  kind: CronJob
  metadata:
    name: pingaccess-periodic-backup
  $patch: delete

# Remove PingFederate primary-cluster resources
- |-
  apiVersion: apps/v1
  kind: StatefulSet
  metadata:
    name: pingfederate-admin
  $patch: delete

- |-
  apiVersion: v1
  kind: Service
  metadata:
    name: pingfederate-admin
  $patch: delete

- |-
  apiVersion: extensions/v1beta1
  kind: Ingress
  metadata:
    name: pingfederate-admin-ingress
  $patch: delete

- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: pingfederate-backup
  $patch: delete

- |-
  apiVersion: batch/v1beta1
  kind: CronJob
  metadata:
    name: pingfederate-periodic-backup
  $patch: delete

# Remove PingDirectory primary-cluster resources

- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: pingdirectory-backup
  $patch: delete

- |-
  apiVersion: batch/v1beta1
  kind: CronJob
  metadata:
    name: pingdirectory-periodic-backup
  $patch: delete

- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: pingaccess-environment-variables
  data:
    PD_PRIMARY_PUBLIC_HOSTNAME: ${PD_PRIMARY_PUBLIC_HOSTNAME}
    PF_ADMIN_PUBLIC_HOSTNAME: ${PF_ADMIN_PUBLIC_HOSTNAME}
    PA_ADMIN_PUBLIC_HOSTNAME: ${PA_ADMIN_PUBLIC_HOSTNAME}

- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: pingfederate-environment-variables
  data:
    PD_PRIMARY_PUBLIC_HOSTNAME: ${PD_PRIMARY_PUBLIC_HOSTNAME}
    PF_ADMIN_PUBLIC_HOSTNAME: ${PF_ADMIN_PUBLIC_HOSTNAME}
    PA_ADMIN_PUBLIC_HOSTNAME: ${PA_ADMIN_PUBLIC_HOSTNAME}

- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: pingdirectory-environment-variables
  data:
    PD_PRIMARY_PUBLIC_HOSTNAME: ${PD_PRIMARY_PUBLIC_HOSTNAME}
    PF_ADMIN_PUBLIC_HOSTNAME: ${PF_ADMIN_PUBLIC_HOSTNAME}
    PA_ADMIN_PUBLIC_HOSTNAME: ${PA_ADMIN_PUBLIC_HOSTNAME}
