kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

resources:
- base

# Point to the ping-cluster-tools repo equivalents pushed to ECR
images:
- name: registry.k8s.io/kube-state-metrics/kube-state-metrics
  newName: public.ecr.aws/r2h3l6e4/pingcloud-clustertools/coreos/kube-state-metrics

patches:
- patch: |-
    # Remove `clusterIP: None` It prevents service update failure as `spec.clusterip` field is immutable
    - op: remove
      path: /spec/clusterIP
  target:
    kind: Service
    name: kube-state-metrics
    namespace: kube-system
- patch: |-
    # Add resources into kube-state-metrics container and customizations for enabling HPA metrics and allowlist HPA and namespace labels for NRQL queries
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: kube-state-metrics
      namespace: kube-system
    spec:
      template:
        spec:
          containers:
            - name: kube-state-metrics
              resources:
                limits:
                  cpu: 30m
                  memory: 80Mi
                requests:
                  cpu: 10m
                  memory: 50Mi
              args:
                - --resources=persistentvolumeclaims,persistentvolumes,pods,nodes,endpoints,jobs,ingresses,horizontalpodautoscalers
                - --metric-labels-allowlist=horizontalpodautoscalers=[horizontalpodautoscaler,namespace]
                # NOTE: kube-state-metrics doesn't actually require this allowlist for emitting HPA label dimensions, but due to an existing bug in NewRelic , we currently need it to populate NRQL label dimensions for HorizontalPodAutoscaler resource. See Support Case 00296373.
                - --namespaces-denylist=default, health, kube-node-lease, kube-public, kube-system, pod-reaper, newrelic
  target:
    kind: Deployment
    name: kube-state-metrics
    namespace: kube-system
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: kube-state-metrics
      namespace: kube-system
    spec:
      template:
        spec:
          securityContext:
            runAsNonRoot: true
          containers:
            - name: kube-state-metrics
              securityContext:
                privileged: false
  target:
    kind: Deployment
    name: kube-state-metrics
    namespace: kube-system