apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patchesStrategicMerge:
  - |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: logstash-pipeline-customer
      namespace: elastic-stack-logging
    data:
      01-input.conf: |
        input {
          http {
            port => 8084
            add_field => { "cluster_name" => "${CLUSTER_NAME}" }
            id => "customer_in"
            max_pending_requests => 1000
            threads => 2
          }
        }
        filter {
          mutate {
            remove_field => ["date", "headers"]
          }
        }

patchesJson6902:
  - target:
      version: v1
      kind: ConfigMap
      name: os-ism-policies
      namespace: elastic-stack-logging
    patch: |-
      - op: replace
        path: /data/ping-general.json
        value: |-
          {
            "policy": {
              "policy_id": "ping_standard_policy",
              "description": "Standard ping policy (delete after 30 days)",
              "last_updated_time": 1684846142111,
              "schema_version": 17,
              "error_notification": null,
              "default_state": "hot",
              "states": [
                {
                  "name": "hot",
                  "actions": [],
                  "transitions": [
                    {
                      "state_name": "delete",
                      "conditions": {
                        "min_index_age": "30d"
                      }
                    }
                  ]
                },
                {
                  "name": "RO",
                  "actions": [
                    {
                        "retry": {
                            "count": 3,
                            "backoff": "exponential",
                            "delay": "1m"
                        },
                        "read_only": {}
                    }
                  ],
                  "transitions": [
                    {
                      "state_name": "delete",
                      "conditions": {
                        "min_index_age": "1d"
                      }
                    }
                  ]
                },
                {
                  "name": "warm",
                  "actions": [
                    {
                        "retry": {
                            "count": 3,
                            "backoff": "exponential",
                            "delay": "1m"
                        },
                        "replica_count": {
                            "number_of_replicas": 1
                        }
                    },
                    {
                        "retry": {
                            "count": 3,
                            "backoff": "exponential",
                            "delay": "1m"
                        },
                        "force_merge": {
                            "max_num_segments": 1
                        }
                    },
                    {
                        "retry": {
                            "count": 3,
                            "backoff": "exponential",
                            "delay": "1m"
                        },
                        "read_only": {}
                    },
                    {
                        "retry": {
                            "count": 3,
                            "backoff": "exponential",
                            "delay": "1m"
                        },
                        "allocation": {
                            "require": {
                                "temp": "warm"
                            },
                            "include": {},
                            "exclude": {},
                            "wait_for": false
                        }
                    }
                  ],
                  "transitions": [
                    {
                      "state_name": "delete",
                      "conditions": {
                        "min_index_age": "1d"
                      }
                    }
                  ]
                },
                {
                  "name": "delete",
                  "actions": [
                    {
                      "retry": {
                        "count": 3,
                        "backoff": "exponential",
                        "delay": "1m"
                      },
                      "delete": {}
                    }
                  ],
                  "transitions": []
                }
              ],
              "ism_template": [
                {
                  "index_patterns": [
                    "pd-*",
                    "pf-*",
                    "pa-*",
                    "pc-*",
                    "pdg-*",
                    "pds-*",
                    "ingress-*",
                    "logstash-*"
                  ],
                  "priority": 1,
                  "last_updated_time": 1684842823048
                }
              ]
            }
          }
