apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - deployment.yaml

configMapGenerator:
- name: cwagentconfig
  namespace: amazon-cloudwatch
  behavior: merge
  files:
    - cwagentconfig.json
    - prometheus.yaml

# This patch drop all the events from cloudwatch pipeline.
# Reassess this when upgrading to future releases, this is not applicable for 1.19.1 and above release.
- name: fluent-bit-config
  namespace: elastic-stack-logging
  behavior: merge
  files:
    - fluent-bit.conf
    - cw.conf
    - nr.conf
    - s3.conf

patchesStrategicMerge:
  - patch-ilm-policy.yaml
  - delete-daemonset.yaml
  - |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: kube-state-metrics
      namespace: kube-system
    spec:
      template:
        spec:
          containers:
            - name: kube-state-metrics
              args:
                - --resources=persistentvolumeclaims,persistentvolumes,pods,nodes,endpoints
                - --namespaces-denylist=default, health, kube-node-lease, kube-public, kube-system, pod-reaper, newrelic
