kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: pod-reaper

generatorOptions:
  disableNameSuffixHash: false

configMapGenerator:
- name: pod-reaper-environment-variables
  envs:
  - env_vars

resources:
- deployment.yaml
- namespace.yaml
- rbac.yaml

patchesStrategicMerge:

# setting the securityContext for pod-reaper
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: pod-reaper
  spec:
    template:
      spec:
        securityContext:
          runAsNonRoot: true
        containers:
          - name: reaper
            securityContext:
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              privileged: false
              readOnlyRootFilesystem: true
              runAsUser: 65534
              runAsGroup: 65534