# FIXME: This is a self-signed certificate for the tenant's domain. Change it to CA-signed certificate.
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: tls-secret-logging
  namespace: elastic-stack-logging
data:
  tls.crt: ${TLS_CRT_BASE64}
  tls.key: ${TLS_KEY_BASE64}