# p1as-cluster-tools values

# ingress-nginx-public values
ingress-nginx-public:
  ingress-nginx:
    serviceAccount:
      annotations:
        ${IRSA_INGRESS_ANNOTATION_KEY_VALUE}
    controller:
      autoscaling:
        minReplicas: 3
        maxReplicas: 3
        targetCPUUtilizationPercentage: 70
      service:
        annotations:
          ${NLB_NGX_PUBLIC_ANNOTATION_KEY_VALUE}
          
ingress-nginx-private:
# ingress-nginx-private values
  ingress-nginx:
    controller:
      autoscaling:
        minReplicas: 1
        maxReplicas: 1
        targetCPUUtilizationPercentage: 70
