kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

resources:
- ../../ping-cloud
- sealed-secrets.yaml

patchesStrategicMerge:

### All secrets used by supporting tools ###
- secrets.yaml

${REMOVE_FROM_SECONDARY_PATCH}