- op: add
  path: /spec/template/spec/containers/0/command/-
  value:
    --node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled,k8s.io/cluster-autoscaler/${CLUSTER_NAME}

- op: add
  path: /spec/template/spec/containers/0/env
  value:
    - name: AWS_REGION
      value: ${REGION}