kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: elastic-stack-logging

generatorOptions:
  labels:
    k8s-app: fluent-bit

configMapGenerator:
  - name: fluent-bit-config
    files:
      - fluent-bit.conf
  - name: fluent-bit-parsers
    files:
      - parsers.conf

resources:
  - pipelines