# This file shows a sample of a PingDirectory topology descriptor file that's required in the multi-region case.
# The general format should be:

{
	"<region>": {
		"hostname": "<public-hostname>",
		"replicas": <number-of-replicas-in-region>
	},
	"<region>": {
		"hostname": "<public-hostname>",
		"replicas": <number-of-replicas-in-region>
	},
        ...
}

# region-name - the region where the local Kubernetes cluster is located
# hostname - the public or DNS hostname of the load balancer that's in front of the PD servers in that region
# replicas - the number of servers in the replication topology in that region

For example:

{
	"us-west-1": {
		"hostname": "pingdirectory-admin.prod-refinitiv.us1.ping.cloud",
		"replicas": 6
	},
	"eu-west-1": {
		"hostname": "pingdirectory-admin.prod-refinitiv.eu1.ping.cloud",
		"replicas": 3
	}
}
