#
# Enabling the changelog allows the use of Sync
# This file has the config to enable changelog baackend to be able to be used with multiple backends
# uncomment below commands based on the backends that are being enabled.


# dsconfig set-backend-prop \
#    --backend-name changelog \
#    --add "changelog-entry-include-base-dn:${USER_BASE_DN_2}"

# dsconfig set-backend-prop \
#    --backend-name changelog \
#    --add "changelog-entry-include-base-dn:${USER_BASE_DN_3}"

# dsconfig set-backend-prop \
#    --backend-name changelog \
#    --add "changelog-entry-include-base-dn:${USER_BASE_DN_4}"

# dsconfig set-backend-prop \
#    --backend-name changelog \
#    --add "changelog-entry-include-base-dn:${USER_BASE_DN_5}"