kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: flux

resources:
- ${K8S_GIT_URL}/k8s-configs/cluster-tools/git-ops?ref=${K8S_GIT_BRANCH}

patchesStrategicMerge:

### Additional args to the deployment object ###
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: flux
    namespace: flux
  spec:
    template:
      spec:
        containers:
        - name: flux
          args:
          - --manifest-generation=true
          - --git-url=${CLUSTER_STATE_REPO_URL}
          - --git-path=k8s-configs/${ENVIRONMENT_GIT_PATH}

### Deploy key to the cluster state repo ###
- |-
  apiVersion: v1
  kind: Secret
  type: Opaque
  metadata:
    name: flux-git-deploy
    namespace: flux
  data:
    identity: |
      ${SSH_ID_KEY_BASE64}

### Known hosts file for the cluster state repo ###
- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: known-hosts
  data:
    known_hosts: |
      ${KNOWN_HOSTS_CLUSTER_STATE_REPO}