kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

resources:

# Deploy cert-manager as part of the bootstrap process so that it's running before its CRD resources are created
- ${K8S_GIT_URL}/k8s-configs/cluster-tools/cert-manager/base?ref=${K8S_GIT_BRANCH}

# Deploy the network provider so that flux is able to talk to the Kubernetes API server under all circumstances
- ${K8S_GIT_URL}/k8s-configs/cluster-tools/network-provider?ref=${K8S_GIT_BRANCH}

# Deploy flux
- ${K8S_GIT_URL}/k8s-configs/cluster-tools/git-ops?ref=${K8S_GIT_BRANCH}
- known-hosts-config.yaml

patchesStrategicMerge:

### Additional args to the flux deployment object ###
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: flux
    namespace: flux
  spec:
    template:
      spec:
        containers:
        - name: flux
          args:
          - --manifest-generation=true
          - --git-url=${CLUSTER_STATE_REPO_URL}
          - --git-path=k8s-configs/${ENVIRONMENT_GIT_PATH}
          volumeMounts:
          - name: ssh-config
            mountPath: /root/.ssh
        volumes:
        - name: ssh-config
          configMap:
            name: flux-ssh-config
            defaultMode: 0644

### Deploy key to the cluster state repo ###
- |-
  apiVersion: v1
  kind: Secret
  type: Opaque
  metadata:
    name: flux-git-deploy
    namespace: flux
  data:
    identity: |
      ${SSH_ID_KEY_BASE64}