apiVersion: apps/v1
kind: Deployment
metadata:
  name: flux
  namespace: flux
spec:
  template:
    spec:
      containers:
      - name: flux
        args:
        - --manifest-generation=true
        - --git-url=${CLUSTER_STATE_REPO_URL}
        - --git-path=k8s-configs/${ENVIRONMENT_GIT_PATH}