kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

resources:
- ${K8S_GIT_URL}/k8s-configs/cluster-tools?ref=${K8S_GIT_BRANCH}

# Include flux CD here so flux can update itself in the future
- ${K8S_GIT_URL}/k8s-configs/cluster-tools/git-ops?ref=${K8S_GIT_BRANCH}
- known-hosts-config.yaml

patchesStrategicMerge:

### All secrets used by supporting tools ###
- secrets.yaml

### Lets encrypt ACME certificate issuer for the cluster ###
- |-
  apiVersion: certmanager.k8s.io/v1alpha1
  kind: ClusterIssuer
  metadata:
    name: letsencrypt-prod
  spec:
    acme:
      server: ${LETS_ENCRYPT_SERVER}
      email: ${CLUSTER_NAME_LC}@${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}
      solvers:
      - dns01:
          route53:
            region: ${REGION}
        selector:
          dnsZones:
          - ${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}

### Lets encrypt ACME certificate for all endpoints ###
- |-
  apiVersion: certmanager.k8s.io/v1alpha1
  kind: Certificate
  metadata:
    name: acme-tls-cert
    namespace: cert-manager
  spec:
    dnsNames:
    - '*.${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}'
    commonName: ${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}

### External DNS service account ###
- |-
  apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: external-dns
    namespace: external-dns
    annotations:
      purpose: service-account-for-external-dns
      ${ROUTE53_IRSA_ARN_KEY_AND_VALUE}

### Additional args to the flux deployment object ###
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: flux
    namespace: flux
  spec:
    template:
      spec:
        containers:
        - name: flux
          args:
          - --manifest-generation=true
          - --listen-metrics=:3031
          - --git-poll-interval=60s
          - --git-url=${CLUSTER_STATE_REPO_URL}
          - --git-branch=${CLUSTER_STATE_REPO_BRANCH}
          - --git-path=k8s-configs/${CLUSTER_STATE_REPO_PATH}
          volumeMounts:
          - name: ssh-config
            mountPath: /root/.ssh
        volumes:
        - name: ssh-config
          configMap:
            name: flux-ssh-config
            defaultMode: 0644

### Cloud-watch logging and monitoring ###
- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: cluster-info
    namespace: amazon-cloudwatch
  data:
    cluster.name: ${CLUSTER_NAME}
    logs.region: ${REGION}

- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: cwagentconfig
    namespace: amazon-cloudwatch
  data:
    # Configuration is in Json format. No matter what configure change you make,
    # please keep the Json blob valid.
    cwagentconfig.json: |
      {
        "agent": {
          "region": "${REGION}"
        },
        "logs": {
          "metrics_collected": {
            "kubernetes": {
              "cluster_name": "${CLUSTER_NAME}",
              "metrics_collection_interval": 60
            }
          },
          "force_flush_interval": 5
        }
      }

patchesJson6902:

### Change the default TLS secret for the ingress controllers ###
- target:
    group: apps
    version: v1
    kind: Deployment
    name: nginx-ingress-controller
    namespace: ingress-nginx-private
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value:
        --default-ssl-certificate=${PING_CLOUD_NAMESPACE}/acme-tls-cert

- target:
    group: apps
    version: v1
    kind: Deployment
    name: nginx-ingress-controller
    namespace: ingress-nginx-public
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value:
        --default-ssl-certificate=${PING_CLOUD_NAMESPACE}/acme-tls-cert

### Cluster auto-scaler ###
- target:
    group: apps
    version: v1
    kind: Deployment
    name: cluster-autoscaler
    namespace: kube-system
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/command/-
      value:
        --node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled,k8s.io/cluster-autoscaler/${CLUSTER_NAME}
    - op: add
      path: /spec/template/spec/containers/0/env
      value:
        - name: AWS_REGION
          value: ${REGION}

# Change the namespace of the ACME certificate to the ping-cloud namespace
- target:
    group: certmanager.k8s.io
    version: v1alpha1
    kind: Certificate
    name: acme-tls-cert
    namespace: cert-manager
  patch: |-
    - op: replace
      path: /metadata/namespace
      value: ${PING_CLOUD_NAMESPACE}

# Configure external-dns to only own the hosted zone for the tenant domain
- target:
    group: apps
    version: v1
    kind: Deployment
    name: external-dns
    namespace: external-dns
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value:
        --domain-filter=${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}.

### Logs dashboard ###
- target:
    group: extensions
    version: v1beta1
    kind: Ingress
    name: kibana-ingress
    namespace: elastic-stack-logging
  patch: |-
    - op: replace
      path: /spec/tls/0/hosts/0
      value: logs${DNS_RECORD_SUFFIX}.${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}
    - op: replace
      path: /spec/rules/0/host
      value: logs${DNS_RECORD_SUFFIX}.${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}

### Monitoring dashboard ###
- target:
    group: extensions
    version: v1beta1
    kind: Ingress
    name: grafana-ingress
    namespace: prometheus
  patch: |-
    - op: replace
      path: /spec/tls/0/hosts/0
      value: monitoring${DNS_RECORD_SUFFIX}.${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}
    - op: replace
      path: /spec/rules/0/host
      value: monitoring${DNS_RECORD_SUFFIX}.${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}

### Prometheus Endpoint ###
- target:
    group: extensions
    version: v1beta1
    kind: Ingress
    name: prometheus-ingress
    namespace: prometheus
  patch: |-
    - op: replace
      path: /spec/tls/0/hosts/0
      value: prometheus${DNS_RECORD_SUFFIX}.${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}
    - op: replace
      path: /spec/rules/0/host
      value: prometheus${DNS_RECORD_SUFFIX}.${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}

### Ingress nginx private ###
- target:
    version: v1
    kind: Service
    name: ingress-nginx
    namespace: ingress-nginx-private
  patch: |-
    - op: replace
      path: /metadata/annotations/external-dns.alpha.kubernetes.io~1hostname
      value: pingdirectory-admin${DNS_RECORD_SUFFIX}.${DNS_DOMAIN_PREFIX}${TENANT_DOMAIN}

    # Open up ports on the private NLB for PF/PA admins and PD clustering.
    - op: replace
      path: /spec/ports
      value:
        # http and https for the private webapps, e.g. the admins
        - name: http
          port: 80
          targetPort: http
        - name: https
          port: 443
          targetPort: https

        # TODO: determine if only the replication port requires to be open
        ## Allow up to 9 PD servers per region so no changes are necessary when the replica count is changed.

        # ldaps and replication for pingdirectory-0
        - name: ldaps-pingdirectory-0
          port: 6360
          targetPort: 6360
        - name: repl-pingdirectory-0
          port: 9890
          targetPort: 9890

        # ldaps and replication for pingdirectory-1
        - name: ldaps-pingdirectory-1
          port: 6361
          targetPort: 6361
        - name: repl-pingdirectory-1
          port: 9891
          targetPort: 9891

        # ldaps and replication for pingdirectory-2
        - name: ldaps-pingdirectory-2
          port: 6362
          targetPort: 6362
        - name: repl-pingdirectory-2
          port: 9892
          targetPort: 9892

        # ldaps and replication for pingdirectory-3
        - name: ldaps-pingdirectory-3
          port: 6363
          targetPort: 6363
        - name: repl-pingdirectory-3
          port: 9893
          targetPort: 9893

        # ldaps and replication for pingdirectory-4
        - name: ldaps-pingdirectory-4
          port: 6364
          targetPort: 6364
        - name: repl-pingdirectory-4
          port: 9894
          targetPort: 9894

        # ldaps and replication for pingdirectory-5
        - name: ldaps-pingdirectory-5
          port: 6365
          targetPort: 6365
        - name: repl-pingdirectory-5
          port: 9895
          targetPort: 9895

        # ldaps and replication for pingdirectory-6
        - name: ldaps-pingdirectory-6
          port: 6366
          targetPort: 6366
        - name: repl-pingdirectory-6
          port: 9896
          targetPort: 9896

        # ldaps and replication for pingdirectory-7
        - name: ldaps-pingdirectory-7
          port: 6367
          targetPort: 6367
        - name: repl-pingdirectory-7
          port: 9897
          targetPort: 9897

        # ldaps and replication for pingdirectory-8
        - name: ldaps-pingdirectory-8
          port: 6368
          targetPort: 6368
        - name: repl-pingdirectory-8
          port: 9898
          targetPort: 9898

# Configure the private nginx controller to receive traffic on the above ports
- target:
    version: v1
    kind: ConfigMap
    name: tcp-services
    namespace: ingress-nginx-private
  patch: |-
    - op: add
      path: /data
      value:
        # PingDirectory LDAPS and replication ports
        6360: "${PING_CLOUD_NAMESPACE}/pingdirectory-0-service:ldaps"
        9890: "${PING_CLOUD_NAMESPACE}/pingdirectory-0-service:repl"

        6361: "${PING_CLOUD_NAMESPACE}/pingdirectory-1-service:ldaps"
        9891: "${PING_CLOUD_NAMESPACE}/pingdirectory-1-service:repl"

        6362: "${PING_CLOUD_NAMESPACE}/pingdirectory-2-service:ldaps"
        9892: "${PING_CLOUD_NAMESPACE}/pingdirectory-2-service:repl"

        6363: "${PING_CLOUD_NAMESPACE}/pingdirectory-3-service:ldaps"
        9893: "${PING_CLOUD_NAMESPACE}/pingdirectory-3-service:repl"

        6364: "${PING_CLOUD_NAMESPACE}/pingdirectory-4-service:ldaps"
        9894: "${PING_CLOUD_NAMESPACE}/pingdirectory-4-service:repl"

        6365: "${PING_CLOUD_NAMESPACE}/pingdirectory-5-service:ldaps"
        9895: "${PING_CLOUD_NAMESPACE}/pingdirectory-5-service:repl"

        6366: "${PING_CLOUD_NAMESPACE}/pingdirectory-6-service:ldaps"
        9896: "${PING_CLOUD_NAMESPACE}/pingdirectory-6-service:repl"

        6367: "${PING_CLOUD_NAMESPACE}/pingdirectory-7-service:ldaps"
        9897: "${PING_CLOUD_NAMESPACE}/pingdirectory-7-service:repl"

        6368: "${PING_CLOUD_NAMESPACE}/pingdirectory-8-service:ldaps"
        9898: "${PING_CLOUD_NAMESPACE}/pingdirectory-8-service:repl"

${SERVICE_NGINX_PRIVATE_PATCH}