### Ingress nginx private ###
- target:
    version: v1
    kind: Service
    name: ingress-nginx
    namespace: ingress-nginx-private
  patch: |-
    - op: remove
      path: /metadata/annotations
      value:
        service.beta.kubernetes.io/aws-load-balancer-internal: 0.0.0.0/0