kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

resources:
- cluster-tools
- ping-cloud

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:

# Pingdirectory
- name: pingdirectory-environment-variables
  behavior: merge
  envs:
  - env_vars
  - ping-cloud/pingdirectory/env_vars

# Pingfederate
- name: pingfederate-environment-variables
  behavior: merge
  envs:
  - env_vars
  - ping-cloud/pingfederate/env_vars

# PingAccess
- name: pingaccess-environment-variables
  behavior: merge
  envs:
  - env_vars
  - ping-cloud/pingaccess/env_vars

# PingAccess WAS
- name: pingaccess-was-environment-variables
  behavior: merge
  envs:
  - env_vars
  - ping-cloud/pingaccess-was/env_vars