#!/bin/bash

# required
export PINGCLOUD_CLIENT_ID=""
export PINGCLOUD_CLIENT_SECRET=""
export DEPLOYMENTS_CLIENT_ID=""
export DEPLOYMENTS_CLIENT_SECRET=""
export WORKERAPP_CLIENT_SECRET=""
export ORG_ID="1c30b68a-3335-4058-8f8c-b4e3b2da5533"

# optional (Change PRODUCT_ENTITLEMENTS & DEPLOYMENT_IDS values if using)
#export ENV_ID=""
#export PRODUCT_ENTITLEMENTS='{"pingaccess": {"licenseType": "trial"}, "pingfederate": {"licenseType": "trial"}}'
#export DEPLOYMENT_IDS='{"pingaccess": "50928bf0-718c-4988-aee2-fd37456792ec", "pingfederate": "9498617c-2e72-4b2e-88af-8ff92679fb2f"}'