# Test frameworks
pytest==8.3.3

# Web browser testing
seleniumbase==4.32.9
chromedriver-autoinstaller

# AWS Boto3 library
boto3~=1.25.0

# PingOne shared scripts
git+https://gitlab.corp.pingidentity.com/ping-cloud-private-tenant/ping-cloud-tools.git@master#subdirectory=pingone

ruamel.yaml==0.17.26

tenacity==8.2.3

# Not currently used by python directly, but is used by common/01-test-csr.sh tests within PCB, hence being installed
# in PCB only
git-remote-codecommit==1.16

cryptography == 43.0.3

# Client Request Library
requests

# Kubernetes Client Library.
# Pinned to v31 due to AWS issue in latest version v32
# See here: https://github.com/kubernetes-client/python/issues/2343
kubernetes==31.0.0