kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: argocd

resources:
- base
- custom-resources.yaml
- argocd-p1as-bootstrap.yaml
- customer-p1-app.yaml
# Toggling commenting of this job is controlled by git-ops-command.sh and the CUSTOMER_PINGONE_ENABLED flag
#- customer-p1-connection.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- files:
  - install-custom-tools.sh
  name: install-custom-tools

- files:
  - argocd-p1as-bootstrap-resources.yaml
  name: argocd-p1as-bootstrap-resources

- name: p14c-environment-variables

# Point to the ping-cluster-tools repo equivalents pushed to ECR
images:
- name: quay.io/argoproj/argocd
  newName: public.ecr.aws/r2h3l6e4/pingcloud-clustertools/argo/argocd
- name: redis
  newName: public.ecr.aws/r2h3l6e4/pingcloud-clustertools/redis
- name: ghcr.io/dexidp/dex
  newName: public.ecr.aws/r2h3l6e4/pingcloud-clustertools/dexidp/dex

patches:
- path: argo-notifications-cm.yaml
- patch: |-
    # Set the several log values to "error"
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: argocd-cmd-params-cm
    data:
      # Set the logging level. One of: debug|info|warn|error (default "info")
      # See https://argo-cd.readthedocs.io/en/stable/operator-manual/argocd-cmd-params-cm-yaml/ for example
      controller.log.level: "error"
      server.log.level: "error"
      reposerver.log.level: "error"
      applicationsetcontroller.log.level: "error"
      notificationscontroller.log.level: "error"
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-applicationset-controller
    spec:
      template:
        spec:
          containers:
          - name: argocd-applicationset-controller
            # This env vars added for further compatibility with ArgoCD 2.8.0+ - do not delete this after upgrade
            env:
            - name: ARGOCD_APPLICATIONSET_CONTROLLER_LOGLEVEL
              valueFrom:
                configMapKeyRef:
                  key: applicationsetcontroller.log.level
                  name: argocd-cmd-params-cm
                  optional: true
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-applicationset-controller
    spec:
      template:
        spec:
          containers:
          - name: argocd-applicationset-controller
            resources:
              requests:
                memory: "50Mi"
                cpu: "100m"
              limits:
                cpu: "200m"
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-dex-server
    spec:
      template:
        spec:
          containers:
          - name: dex
            resources:
              requests:
                memory: "50Mi"
                cpu: "50m"
              limits:
                cpu: "100m"
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-dex-server
    spec:
      template:
        spec:
          containers:
          - name: dex
            command:
            - sh
            - -c
            - /shared/argocd-dex rundex --loglevel error
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-notifications-controller
    spec:
      template:
        spec:
          containers:
          - name: argocd-notifications-controller
            resources:
              requests:
                memory: "50Mi"
                cpu: "10m"
              limits:
                cpu: "30m"
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-redis
    spec:
      template:
        spec:
          containers:
          - name: redis
            resources:
              requests:
                memory: "50Mi"
                cpu: "50m"
              limits:
                cpu: "100m"
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-repo-server
    spec:
      template:
        spec:
          containers:
          - name: argocd-repo-server
            resources:
              requests:
                memory: "150Mi"
                cpu: "150m"
              limits:
                cpu: "250m"
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-server
    spec:
      template:
        spec:
          containers:
          - name: argocd-server
            resources:
              requests:
                memory: "500Mi"
                cpu: "500m"
              # The ArgoCD server gets hit especially hard by requests from the UI, this will hopefully be fixed by
              # https://github.com/argoproj/argo-cd/issues/14947 in future Argocd releases,
              # https://github.com/argoproj/argo-cd/issues/15509 is another related ticket
              # We have PDO-6569 to upgrade ArgoCD to 2.13+ in order to take advantage once these issues are solved
              limits:
                cpu: "1000m"
- patch: |-
    apiVersion: apps/v1
    kind: StatefulSet
    metadata:
      name: argocd-application-controller
    spec:
      template:
        spec:
          containers:
          # The application controller is the main component which checks the manifest generated vs the resources
          # actually existing in the cluster. It has high CPU requirements especially, based on testing, and it must
          # have enough resources to manage all of the customers environments in a given region
          - name: argocd-application-controller
            resources:
              requests:
                memory: "1000Mi"
                cpu: "1500m"
              limits:
                cpu: "3000m"
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-notifications-controller
    spec:
      template:
        spec:
          containers:
          - name: argocd-notifications-controller
            # This env vars added for further compatibility with ArgoCD 2.8.0+ - do not delete this after upgrade
            env:
            - name: ARGOCD_NOTIFICATIONS_CONTROLLER_LOGLEVEL
              valueFrom:
                configMapKeyRef:
                  key: notificationscontroller.log.level
                  name: argocd-cmd-params-cm
                  optional: true
- patch: |-
    # Ignore diffs in webhook client CA bundle (ref: https://argo-cd-docs.readthedocs.io/en/latest/user-guide/diffing/)
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: argocd-cm
    data:
      resource.customizations: |
        admissionregistration.k8s.io/MutatingWebhookConfiguration:
          ignoreDifferences: |
            jsonPointers:
            - /webhooks/0/clientConfig/caBundle
      kustomize.buildOptions: --load-restrictor LoadRestrictionsNone --enable-helm --helm-command /usr/local/bin/helm-command.sh
- patch: |-
      # Mount Beluga-specific scripts within the container
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: argocd-repo-server
      spec:
        template:
          spec:
            containers:
            - name: argocd-repo-server
              volumeMounts:
              - name: git-ops-command
                mountPath: /usr/local/bin/git-ops-command.sh
                subPath: git-ops-command.sh
              - name: helm-command
                mountPath: /usr/local/bin/helm-command.sh
                subPath: helm-command.sh
              - name: tools-dir
                mountPath: /usr/local/bin/envsubst
                subPath: envsubst
              - name: tools-dir
                mountPath: /usr/local/bin/kustomize
                subPath: kustomize
              - name: tools-dir
                mountPath: /usr/local/bin/git-remote-codecommit
                subPath: git-remote-codecommit
              - name: tools-dir
                mountPath: /home/argocd/.local/lib/python3.7/site-packages/git_remote_codecommit/__init__.py
                subPath: __init__.py
- patch: |-
    # Patch argocd-repo-server to run the plugin container as a sidecar
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-repo-server
    spec:
      template:
        spec:
          containers:
          - name: git-ops-command
            command: [/var/run/argocd/argocd-cmp-server] # Entrypoint should be Argo CD lightweight CMP server i.e. argocd-cmp-server
            # We don't need to use the full ArgoCD image here but we use it for consistency sake when installing all of the tools for both containers.
            image: public.ecr.aws/r2h3l6e4/pingcloud-clustertools/argo/argocd:v2.12.4
            securityContext:
              runAsNonRoot: true
              runAsUser: 999
            volumeMounts:
              - mountPath: /var/run/argocd
                name: var-files
              - mountPath: /home/argocd/cmp-server/plugins
                name: plugins
              - mountPath: /home/argocd/cmp-server/config/plugin.yaml
                subPath: plugin.yaml
                name: git-ops-command-plugin-cm
              # Starting with v2.4, do NOT mount the same tmp volume as the repo-server container. The filesystem separation helps
              # mitigate path traversal attacks.
              - mountPath: /tmp
                name: cmp-tmp
              - mountPath: /usr/local/bin/git-ops-command.sh
                name: git-ops-command
                subPath: git-ops-command.sh
              - name: helm-command
                mountPath: /usr/local/bin/helm-command.sh
                subPath: helm-command.sh
              - name: tools-dir
                mountPath: /usr/local/bin/envsubst
                subPath: envsubst
              - name: tools-dir
                mountPath: /usr/local/bin/kustomize
                subPath: kustomize
              - name: tools-dir
                mountPath: /usr/local/bin/git-remote-codecommit
                subPath: git-remote-codecommit
              - name: tools-dir
                mountPath: /home/argocd/.local/lib/python3.7/site-packages/git_remote_codecommit/__init__.py
                subPath: __init__.py
            resources:
              requests:
                memory: "100Mi"
                cpu: "300m"
              limits:
                cpu: "700m"
          volumes:
          - configMap:
              name: git-ops-command-plugin-cm
            name: git-ops-command-plugin-cm
          - emptyDir: {}
            name: cmp-tmp
          - configMap:
              name: git-ops-command
            name: git-ops-command
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-repo-server
    spec:
      template:
        spec:
          containers:
          - name: git-ops-command
            command:
            - sh
            - -c
            - /var/run/argocd/argocd-cmp-server --loglevel error
- patch: |-
    # Add an init container to install a few custom tools into the ArgoCD repo server
    # TODO: try to manage this image in a way that isn't inline to aid with upgrading/finding the image
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-repo-server
    spec:
      template:
        spec:
          initContainers:
          # Installs custom tools
          - name: install-custom-tools
            image: public.ecr.aws/r2h3l6e4/pingcloud-clustertools/python:3.9.1-slim
            command: [ "install-custom-tools.sh" ]
            volumeMounts:
            - name: tools-dir
              mountPath: /tools
            - name: install-custom-tools
              mountPath: /usr/local/bin/install-custom-tools.sh
              subPath: install-custom-tools.sh
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-repo-server
    spec:
      template:
        spec:
          volumes:
          - name: tools-dir
            emptyDir: {}
          - name: git-ops-command
            configMap:
              name: git-ops-command
              defaultMode: 0555
          - name: helm-command
            configMap:
              name: helm-command
              defaultMode: 0555
          - name: install-custom-tools
            configMap:
              name: install-custom-tools
              defaultMode: 0555
- patch: |-
    # Add the "sealedsecrets.bitnami.com/managed: true" annotation to secrets so they are manageable by Bitnami
    apiVersion: v1
    kind: Secret
    metadata:
      name: argocd-notifications-secret
      annotations:
        sealedsecrets.bitnami.com/managed: "true"
        argocd.argoproj.io/sync-options: Prune=false
- patch: |-
    apiVersion: v1
    kind: Secret
    metadata:
      name: argocd-secret
      annotations:
        sealedsecrets.bitnami.com/managed: "true"
        sealedsecrets.bitnami.com/patch: "true"
        argocd.argoproj.io/sync-options: Prune=false
- patch: |-
    # Add init container to create Argo clusters for all CDEs from customer-hub
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-server
    spec:
      template:
        spec:
          initContainers:
          - name: argocd-bootstrap
            image: public.ecr.aws/r2h3l6e4/pingcloud-services/argocd-bootstrap:v2.0.1-RC1
            imagePullPolicy: Always
            envFrom:
              - configMapRef:
                  name: argocd-bootstrap
- patch: |-
    # Add init container to set up PingOne SSO for argo-server
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-server
    spec:
      template:
        spec:
          initContainers:
          - name: argocd-p1as-oauth
            image: public.ecr.aws/r2h3l6e4/pingcloud-services/p14c-integration:v2.0.2-RC1
            imagePullPolicy: Always
            securityContext:
              allowPrivilegeEscalation: false
              runAsGroup: 9999
              runAsNonRoot: true
              runAsUser: 9031
            resources:
              requests:
                memory: "256Mi"
                cpu: "300m"
              limits:
                cpu: "500m"
            env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            envFrom:
              - configMapRef:
                  name: argocd-bootstrap
            command:
              - /bin/sh
              - -c
              - python3 -u /app/oauth_client_services_controller.py --app argocd
- patch: |-
    # Enabling the deployment of argocd resources on a node belonging to the 'core' node group by adding tolerations
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-server
    spec:
      template:
        spec:
          tolerations:
            - key: CriticalAddonsOnly
              operator: Equal
              value: core
              effect: NoSchedule
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-applicationset-controller
    spec:
      template:
        spec:
          tolerations:
            - key: CriticalAddonsOnly
              operator: Equal
              value: core
              effect: NoSchedule
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-dex-server
    spec:
      template:
        spec:
          tolerations:
            - key: CriticalAddonsOnly
              operator: Equal
              value: core
              effect: NoSchedule
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-redis
    spec:
      template:
        spec:
          tolerations:
            - key: CriticalAddonsOnly
              operator: Equal
              value: core
              effect: NoSchedule
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-repo-server
    spec:
      template:
        spec:
          tolerations:
            - key: CriticalAddonsOnly
              operator: Equal
              value: core
              effect: NoSchedule
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-notifications-controller
    spec:
      template:
        spec:
          tolerations:
            - key: CriticalAddonsOnly
              operator: Equal
              value: core
              effect: NoSchedule
- patch: |-
    apiVersion: apps/v1
    kind: StatefulSet
    metadata:
      name: argocd-application-controller
    spec:
      template:
        spec:
          tolerations:
            - key: CriticalAddonsOnly
              operator: Equal
              value: core
              effect: NoSchedule
# Add prometheus annotations
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: argocd-applicationset-controller
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
        newrelic.io/scrape: "true"
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: argocd-metrics
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8082"
        newrelic.io/scrape: "true"
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: argocd-notifications-controller-metrics
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "9001"
        newrelic.io/scrape: "true"
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: argocd-repo-server
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8084"
        newrelic.io/scrape: "true"
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: argocd-server-metrics
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8083"
        newrelic.io/scrape: "true"