########################################################################################################################
# Customer parameters that are shared by multiple apps
########################################################################################################################

global:

  ############################################################
  # Secrets
  ############################################################
  # Expected format for each secret:
  # NAMESPACE:
  #   SECRETNAME:
  #     KEY1: VALUE1
  #     KEY2: VALUE2
  # Note: NAMESPACE & SECRETNAME need to match exactly,
  #   but secret keys should follow Helm's camelCase guidance
  ############################################################

  sealedSecrets: false
  secrets:

  ########################################################
  # Multi-region parameters
  ########################################################
  isMultiCluster: ${IS_MULTI_CLUSTER}

  # primaryRegion is the primary AWS region name
  # the primary region should have the same value for region and primaryRegion
  primaryRegion: "${PRIMARY_REGION}"

  # primaryDnsZone is the primary dns zone for customer for region
  primaryDnsZone: "${PRIMARY_DNS_ZONE}"

  # primaryTenantDomain is the primary domain suffix for customer for region
  # the primary region should have the same value for tenantDomain and primaryTenantDomain
  primaryTenantDomain: "${PRIMARY_TENANT_DOMAIN}"

  # secondaryTenantDomains is an optional comma-separated list of the tenant domain suffixes of secondary regions used
  # for PingFederate adaptive clustering using the JGroups DNS_PING discovery protocol:
  #
  #   - Do NOT include the primary tenant domain in the list
  #   - Do NOT include the CDE prefix in the domain name
  #
  # For example, if the primary domain is "tuna.us1.ping-preview.cloud", then set it
  # to "tuna.eu1.ping-preview.cloud,tuna.au1.ping-preview.cloud" to specify secondary
  # domains in regions eu1 and au1.
  #
  # NOTES:
  #   - Only used in multi-cluster environments. If provided, PF will be configured with DNS_PING.
  #   - It is recommended that SECONDARY_TENANT_DOMAINS be set apriori, even before the
  #     secondary regions are created to avoid pod rollouts. DNS_PING will simply ignore
  #     unreachable domains. If it is not set beforehand, then all servers in the PF
  #     cluster (admin and engines) must be re-rolled to pick up the change.
  secondaryTenantDomains: "${SECONDARY_TENANT_DOMAINS}"

  # globalTenantDomain is the region-independent URL used for DNS failover/routing
  globalTenantDomain: "${GLOBAL_TENANT_DOMAIN}"

  ########################################################
  # S3 buckets
  ########################################################
  # pingArtifactRepoUrl is the ping-hosted common artifacts URL
  pingArtifactRepoUrl: "${PING_ARTIFACT_REPO_URL}"

  # logArchiveUrl is the customer-specific log URL for region
  logArchiveUrl: "${LOG_ARCHIVE_URL}"

  # backupUrl is the customer-specific backup URL for region
  backupUrl: "${BACKUP_URL}"

  ########################################################
  # Miscellaneous ping-cloud variables
  ########################################################
  # pingCloudNamespace is the namespace where Ping apps are deployed
  pingCloudNamespace: "${PING_CLOUD_NAMESPACE}"

  # k8sGitBranch is the ping-cloud-base git branch for base Kubernetes manifests
  k8sGitBranch: "${K8S_GIT_BRANCH}"

  # ecrRegistryName is the name of the Docker image registry
  ecrRegistryName: "${ECR_REGISTRY_NAME}/dev"

  # clusterName is the eks cluster name
  clusterName: "${CLUSTER_NAME}"

  # serverProfileUrl is the git URL for the profile repo
  serverProfileUrl: "${SERVER_PROFILE_URL}"

  # serverProfileBranch is the git branch for the profile repo
  serverProfileBranch: "${SERVER_PROFILE_BRANCH_DERIVED}"

  # The image pull policy for all images
  imagePullPolicy: "Always"

  ########################################################
  # Environment-specific variables
  ########################################################
  # environmentType is used by server profile hooks
  environmentType: "${ENVIRONMENT_TYPE}"

  # env is used by Kubernetes manifests
  env: "${ENV}"

  isBelugaEnv: ${IS_BELUGA_ENV}

  ########################################################
  # DevOps License environment variables
  ########################################################
  pingIdentityDevopsUser: "${PING_IDENTITY_DEVOPS_USER}"
  pingIdentityDevopsKey: "${PING_IDENTITY_DEVOPS_KEY}"

  #### FEATURE FLAGS ##################################################################################################
  # Most are disabled by default
  # Please follow runbook instructions for the given feature flag to enable/disable

  # !!! Provisioning for PingFederate is not yet available for multi-region customers !!!
  # Runbook: https://confluence.pingidentity.com/display/PingCloud/How+to+Enable+and+Configure+PingFederate+Provisioning
  pfProvisioningEnabled: ${PF_PROVISIONING_ENABLED}

  radiusProxyEnabled: ${RADIUS_PROXY_ENABLED}

  external_ingress_enabled: ${EXTERNAL_INGRESS_ENABLED}
  #####################################################################################################################
