########################################################################################################################
# Customer parameters that are shared by multiple apps
########################################################################################################################

global:

  ############################################################
  # Secrets
  ############################################################
  # Expected format for each secret:
  # NAMESPACE:
  #   KEY1: VALUE1
  #   KEY2: VALUE2
  # Note: NAMESPACE need to match exactly,
  #   but secret keys should follow Helm's camelCase guidance
  ############################################################
  sealedSecrets: false
  secrets:
    newrelic:
      newRelicLicenseKey: ${NEW_RELIC_LICENSE_KEY_BASE64}
    ping-cloud:
      ###### Shared Secrets ######

      # License key that is used to enable and point to a NewRelic instance
      newRelicLicenseKey: ${NEW_RELIC_LICENSE_KEY_BASE64}
      # Profile Repo SSH Id key secret
      sshIdKeyBase64: ${SSH_ID_KEY_BASE64}
      # Used as default password for PD admins (used by PD and datasync)
      rootUserPassword: MkZlZGVyYXRlTTByZQ==
      # Default Admin User Password for PingFederate
      pfAdminUserPassword: MkZlZGVyYXRlTTByZQ==
      # Used as default password for PF admin users interacting with PD
      pfLdapPassword: MkZlZGVyYXRlTTByZQ==
      # Password used to authenticate to PD keystore (used by PD and certmanager)
      acmeCertKeystorePassword: MkZlZGVyYXRlTTByZQ==
      # Secret synced between DelegatedAdmin and PingDirectory
      daOauthTokenValidatorSecret: MkZlZGVyYXRlTTByZQ==
      # Default Admin User Password for PingCentral
      pcAdminUserPassword: MkZlZGVyYXRlTTByZQ==
      # Default Admin User Password for PingAccess
      paAdminUserPassword: MkZlZGVyYXRlTTByZQ==
      
      ###### PingDirectory Secrets #####

      # Mounted as a file on PD container and used for dsreplication commands
      adminUserPassword: MkZlZGVyYXRlTTByZQ==
      # Mounted as a file on PD container and used for encryption/decryption of database
      encryptionPassword: MkZlZGVyYXRlTTByZQ==
      # Backup encryption password
      oldEncryptionPasswords: MkZlZGVyYXRlTTByZQ==
      # An alternative to encryption password in .pin file format
      encryptionSettingsPin: MkZlZGVyYXRlTTByZQ==
      # Client ID to be used with P14C
      p14cClientId: ODkwNzM2NTQtNGVkMy00YTViLWI4OWMtZmY2YjVlMWI3ZDFi
      # Client secret to be used with P14C
      p14cClientSecret: UXA4aTAudHg4U3dVSWphdnlYWn5KYTZLQlA5SzN+azljTUYuUWF4UTZYclBvdHpmOU5DbFk2bHRLLjBJUU42MA==
      # Environment ID to be tused with P14C
      p14cEnvironmentId: YzNlMzczNTctNTA2Mi00MWJjLTk5NzItYTdlYTlkMTRhNWEy
      # The DManager password for new P1AS clients,  who will inherit the default permissions associated with PingDirectory.
      dmanagerPassword: MkZlZGVyYXRlTTByZQ==
      # Cert used for inter-PD communication
      adsCrt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN2akNDQWFZQ0NRQ3NMaEptdEYwQ3VEQU5CZ2txaGtpRzl3MEJBUXNGQURBZ01SNHdIQVlEVlFRRERCVnMKYjJOaGJHaHZjM1F1Ykc5allXeGtiMjFoYVc0d0lCY05NakF3TmpNd01UZ3hOekkwV2hnUE1qRXlNREEyTURZeApPREUzTWpSYU1DQXhIakFjQmdOVkJBTU1GV3h2WTJGc2FHOXpkQzVzYjJOaGJHUnZiV0ZwYmpDQ0FTSXdEUVlKCktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQUtmalRHZVgweHhubG5LbXBodFB1Z21jRjNXRHREZmsKOUgyWGh4aXpsTzliNzhPWlk3ZGRxZXVpRktBU3ZZZEtzSE80cUVLMXhtMitvTHZaa2RIandFYlc5dVJYQ2Zucgo3cUpRaHpiemZpemtFOXE2MVBHazJTNGNlcytyUlBDZVlFSEUrd1J5bUdnMnNabXgrdVNLb1RvQk5lMnNnQ2lWCkw0YmpBZ3NKdkdxUzI2T0ZleTF6WTVRYXRmUkI0QlFKSis1eFJ3Z3BCSXdJOExRN3ozS0pkQlVyTll3TDlUemYKSVc2UjcxMHlORVhWWkxqa0pwemJTeGtub3kxQlc3SFJwYmxxNFZaWEFEWDNSYlpuV2xKRWhubkRBVGxPcWtregp5cHBUSnhvaEtkK0pZYXRFRUxWNC9DajkyR3UwcEJtSXorazkrWnJob3J1RTBkSHM2T0tlYStVQ0F3RUFBVEFOCkJna3Foa2lHOXcwQkFRc0ZBQU9DQVFFQVNVcUU1RUw1ZEttNDJWcmFEclpRM0prNXlTUUNtZE1HNGFoYmFndVUKNDk1aEV5NDlhNVhDL3NoS0hCUnJaVy95RTJiS1dTOTBKdzA2aVpUWkk0a3JXZnk5NUtxVlJhWkNYUHc4K0lWdwpLMjJZSTJ1MWVUNlpWYkpuL1dJL2VuMDBwNk1mRjhFTmF3STZTc081dzlVUnRhSFpRK2lhc1BSUERqeVljUC93CnNpbWlBeTB2a2hZSUM5Qmw1K0QxV3FwWm1PRnMvdW5EZC8xUFRxSXF5cHZINUcyYjBvUmdLTTUzQlBIZFBKajAKcEpObFBTblJFNThVNkM5RG5BcSt2cFlJZFE1UWdtQWVaMVA0T2E0cGdHY0NHNlBVYVRoalUxeFhFL01CQWFFRgpwV0pYT2pqWHUwdVpFbXE0bHFJakZEcmZDSkVISkliRmtzMUJjZVVQK3BkU2F3PT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
      # Key used for inter-PD communication
      adsKey: LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2d0lCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktrd2dnU2xBZ0VBQW9JQkFRQ240MHhubDlNY1o1WnkKcHFZYlQ3b0puQmQxZzdRMzVQUjlsNGNZczVUdlcrL0RtV08zWGFucm9oU2dFcjJIU3JCenVLaEN0Y1p0dnFDNwoyWkhSNDhCRzF2YmtWd241Nis2aVVJYzI4MzRzNUJQYXV0VHhwTmt1SEhyUHEwVHdubUJCeFBzRWNwaG9OckdaCnNmcmtpcUU2QVRYdHJJQW9sUytHNHdJTENieHFrdHVqaFhzdGMyT1VHclgwUWVBVUNTZnVjVWNJS1FTTUNQQzAKTzg5eWlYUVZLeldNQy9VODN5RnVrZTlkTWpSRjFXUzQ1Q2FjMjBzWko2TXRRVnV4MGFXNWF1RldWd0ExOTBXMgpaMXBTUklaNXd3RTVUcXBKTThxYVV5Y2FJU25maVdHclJCQzFlUHdvL2RocnRLUVppTS9wUGZtYTRhSzdoTkhSCjdPamlubXZsQWdNQkFBRUNnZ0VCQUp4NXMwcVNMUWM2WFBTNjhmSmVtb3crV1hjRHE4SzB1Rk1lR2FJaUxsdngKR2tUNkFBQjFZZHZta3NhbThOTGFBQis3S2NnVFY4QU5mZzNYT0p1aFpDSWlWTFo1a1NqSWh2L3RnampyTk54dQpMenNjQzBDMVhsNGwyU2tZL2dZdDlwVVdITWNHYjVvaDcrSEtDb2RiMWUwVUY4bFBqNXREZ0twOWhmZjN1UTZ5CkUxRWl0WHJ6Yk9qNzU4QllXRXc1cXdPS2orWGZIS3FJcDc2dGp6NEM3dlJPUDF5OFBaN1BuYUV2V3VSVXNIdkUKVTB1aXJVc3doYjZJSE10UUxGM21EUEo5Y2lEWmI3NWFjbmtEZTRHc1ZQSHJ5bDNKMGpnZnpNS2dtT1RKZWVFTAprcEsvUHI1eVNMTEZnNjloYVlDU0hLVEt6ME9OUjVXc3dmdjl2WnBjQXNFQ2dZRUEwNEZ3cjcwMitVK3R5d1NNCmlZM0JvNFZEeXVLVXlsQThxUE1COGlCK0cxaXdJenBWSk1hakNZR2dLcUhMZUpGWjM0RGNCUkNiVnZ0RlhpU0UKSW5NQ0taYStlOTh1UXVjcGJzV2tBM3oxT0hMN1dscFp3OTMwZlBkVkNVYW1KZEhYUTJjQ01udDFMRmwyWmVQTwpyVG1rMmdXMHMzYTNHMWRvNjFJM3NZamNHc2tDZ1lFQXl6VFhKa3RUVXZ6L1hqVDhrMDBoUFREWjZzR1RUOEt2CjBERzU0c1ZNYWRTb2hXYi9oUkZ6WHo4Q21YMWQyRDZSS3NaK3pVNjcydCtqY0pDdmd2L3phRWpBZ3M5cXVMTFIKd2s1S29qbmZGT2FobEN3TDladVA0c01kcHZwU2JUS0RPTGdzMXQ1TkcreTlkZEFiSzdMNDFkMTRSbEw4bHZ4OApzdnk4eitvR3VqMENnWUJaU1NGYTd0T1FONVMwU1gxU2JDYzhjbnVGNEZUVGV6L0FTcVdkb3gzWlNYMUJ3ZFJECnJCOFRXa2RVOSt3L1A0empEekRTYW9wSkU5WGF3aXVOcDJOWVR5eW1lamE3UTM1NEpyTHdUZ1h2Q0lzWFAyRDUKa0c4dmVmSEo4cXNjK0JLWmY1aXIydlpCL0pwQXRRU0FsLzhCa3JzUHI2UG94T09qdzVlRE9MVkNFUUtCZ1FDegptNExISURFSDJ3TEQrOFY3Vk9NYU9NR0VFNURuSU1kUkY0S2JnNVBrdnNndEVUcXNIUjZDZ3lrRERhSVM3a3BWCktwa05VcGdML3p0dzFSR3NraHBNaEhGVHJZMUFyeDFqeHR1RXcrMy9oVkl2cXpidTRZNnQrWk9OOFJkRjJTM08KeGtzcnA5VXo1MjRXWWRpQ0tYQnpaNHRWYlNoQk0rM3NMaU9kQ2Ria2FRS0JnUUN4b3ZCYXpjR2VEMXFsRjREUgo0eXZpYUpCeUNPM3ludEQwMXAvUGRCTDJNWHA2bjAzWVZEa1BHUytqamZtamt3QVV0ek9RU2pZUGViWWtlb21yClZMZ2N1YkN1VGZsNmNQbnRxUHZxM1pVT2ZqUlB1REI4MjZ0Rm82RDZEUHYwQ043WnE4Y3ZpK3h0RExqWjRDbG8KdFd3a3JWZ3JTeEljd1dyaTBMcXNXTExmV2c9PQotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0tCg==
      # Optional license key for PingDirectory
      # pingDirectoryLicense: ""
      # Optional certificate(s) to add to the PD truststore. Name must have the prefix "pdTruststore" Ex below:
      # More info here: https://confluence.pingidentity.com/display/proserv/Enabling+X.509+Authentication+with+PingDirectory
      # pdTruststoreCertOne: certOneData
      # pdTruststoreCertTwo: certTwoData

      ###### PingFederate Secrets #####

      # This secret sets pf.cluster.auth.pwd within profile-repo/pingfederate/instance/bin/run.properties.subst
      # Set empty as the default, as not all customers may need.
      pfClusterAuthPassword: ""

      # Optional license key for PingFederate
      # pingFederateLicense:    
  ########################################################
  # Multi-region parameters
  ########################################################
  isMultiCluster: ${IS_MULTI_CLUSTER}

  # primaryRegion is the primary AWS region name
  # the primary region should have the same value for region and primaryRegion
  primaryRegion: "${PRIMARY_REGION}"

  # primaryDnsZone is the primary dns zone for customer for region
  primaryDnsZone: "${PRIMARY_DNS_ZONE}"

  # primaryTenantDomain is the primary domain suffix for customer for region
  # the primary region should have the same value for tenantDomain and primaryTenantDomain
  primaryTenantDomain: "${PRIMARY_TENANT_DOMAIN}"

  # secondaryTenantDomains is an optional comma-separated list of the tenant domain suffixes of secondary regions used
  # for PingFederate adaptive clustering using the JGroups DNS_PING discovery protocol:
  #
  #   - Do NOT include the primary tenant domain in the list
  #   - Do NOT include the CDE prefix in the domain name
  #
  # For example, if the primary domain is "tuna.us1.ping-preview.cloud", then set it
  # to "tuna.eu1.ping-preview.cloud,tuna.au1.ping-preview.cloud" to specify secondary
  # domains in regions eu1 and au1.
  #
  # NOTES:
  #   - Only used in multi-cluster environments. If provided, PF will be configured with DNS_PING.
  #   - It is recommended that SECONDARY_TENANT_DOMAINS be set apriori, even before the
  #     secondary regions are created to avoid pod rollouts. DNS_PING will simply ignore
  #     unreachable domains. If it is not set beforehand, then all servers in the PF
  #     cluster (admin and engines) must be re-rolled to pick up the change.
  secondaryTenantDomains: "${SECONDARY_TENANT_DOMAINS}"

  # globalTenantDomain is the region-independent URL used for DNS failover/routing
  globalTenantDomain: "${GLOBAL_TENANT_DOMAIN}"

  ########################################################
  # S3 buckets
  ########################################################
  # pingArtifactRepoUrl is the ping-hosted common artifacts URL
  pingArtifactRepoUrl: "${PING_ARTIFACT_REPO_URL}"

  # logArchiveUrl is the customer-specific log URL for region
  logArchiveUrl: "${LOG_ARCHIVE_URL}"

  # backupUrl is the customer-specific backup URL for region
  backupUrl: "${BACKUP_URL}"

  ########################################################
  # Miscellaneous ping-cloud variables
  ########################################################
  # pingCloudNamespace is the namespace where Ping apps are deployed
  pingCloudNamespace: "${PING_CLOUD_NAMESPACE}"

  # k8sGitBranch is the ping-cloud-base git branch for base Kubernetes manifests
  k8sGitBranch: "${K8S_GIT_BRANCH}"

  # ecrRegistryName is the name of the Docker image registry
  ecrRegistryName: "${ECR_REGISTRY_NAME}"

  # clusterName is the eks cluster name
  clusterName: "${CLUSTER_NAME}"

  # serverProfileUrl is the git URL for the profile repo
  serverProfileUrl: "${SERVER_PROFILE_URL}"

  # serverProfileBranch is the git branch for the profile repo
  serverProfileBranch: "${SERVER_PROFILE_BRANCH_DERIVED}"

  # Placed in ~/.ssh/known_hosts file to avoid ssh prompts when cloning the cluster state repo
  sshKnownHosts: "${KNOWN_HOSTS_CLUSTER_STATE_REPO}"

  # The image pull policy for all images
  imagePullPolicy: "Always"

  # Boolean determining if this is an isolated microservice or a full PCB deploy
  isMicroserviceDeploy: false

  ########################################################
  # Environment-specific variables
  ########################################################
  # environmentType is used by server profile hooks
  environmentType: "${ENVIRONMENT_TYPE}"

  # env is used by Kubernetes manifests
  env: "${ENV}"

  isBelugaEnv: ${IS_BELUGA_ENV}

  ########################################################
  # DevOps License environment variables
  ########################################################
  pingIdentityDevopsUser: "${PING_IDENTITY_DEVOPS_USER}"
  pingIdentityDevopsKey: "${PING_IDENTITY_DEVOPS_KEY}"

  ########################################################
  # Shared Application Variables
  ########################################################
  # Define the contents for your descriptor.json file here, in yaml. An example is provided below for syntax.  
  # Also see the descriptor.json.readme file in p1as-pingdirectory/deploy/templates/config directory of the 
  # p1as-pingdirectory repo for more info
  # descriptorFile: |-
  #   us-west-2:
  #     hostname: abc
  #     replicas: 1
  #   us-east-2:
  #     hostname: def
  #     replicas: 2
  # WARNING: You need to remove any trailing whitespace from all lines in this value, as well as any quotes
  descriptorFile: ""
  # PingDirectory base DN
  userBaseDn: "${USER_BASE_DN}"
  # Alternate Base DNs
  userBaseDn_2: "${USER_BASE_DN_2}"
  userBaseDn_3: "${USER_BASE_DN_3}"
  userBaseDn_4: "${USER_BASE_DN_4}"
  userBaseDn_5: "${USER_BASE_DN_5}"
  # The prefix of a SSM Param / Secret path that contains TLS config
  customerTlsSsmPathPrefix: "${CUSTOMER_TLS_SSM_PATH_PREFIX}"
  # The prefix of a SSM Param / Secret path that contains self-service configurations
  selfServiceSsmPathPrefix : "${SELF_SERVICE_SSM_PATH_PREFIX}"

  # PingFederate Communication
  pfPdBindPort: 1389
  pfPdBindProtocol: "ldap"
  pfPdBindUseSsl: false

  ########################################################
  # Public Hostnames
  ########################################################
  pfAdminApiPublicHostname: "pingfederate-admin-api.${PRIMARY_DNS_ZONE}"
  paAdminApiPublicHostname: "pingaccess-admin-api.${PRIMARY_DNS_ZONE}"
  pfAdminPublicHostname: "pingfederate-admin.${PRIMARY_DNS_ZONE}"
  pcAdminPrivateSiteHostname: "pingcentral.${PRIMARY_TENANT_DOMAIN}"
  pfClusterPublicHostname: "pingfederate-cluster.${PRIMARY_DNS_ZONE}"
  pdClusterPublicHostname: "pingdirectory-cluster.${PRIMARY_DNS_ZONE}"
  selfServicePublicHostname: "self-service-api.${PRIMARY_DNS_ZONE}"

  #### FEATURE FLAGS ##################################################################################################
  # Most are disabled by default
  # Please follow runbook instructions for the given feature flag to enable/disable

  # !!! Provisioning for PingFederate is not yet available for multi-region customers !!!
  # Runbook: https://confluence.pingidentity.com/display/PingCloud/How+to+Enable+and+Configure+PingFederate+Provisioning
  pfProvisioningEnabled: ${PF_PROVISIONING_ENABLED}
  delegatedAdminEnabled: true

  # Runbook: https://pingidentity.atlassian.net/wiki/spaces/PDA/pages/427688292/How+to+Enable+and+Disable+Healthchecks+-+1.19.0
  healthchecksEnabled: ${HEALTHCHECKS_ENABLED}
  #####################################################################################################################

  ########################################################
  # App Specific Variables
  ########################################################

  # pingcloud-p14c-bootstrap application settings
  p14cIntegration:
    image: public.ecr.aws/r2h3l6e4/pingcloud-services/p14c-integration:v2.1.0-RC2
  # prometheus-json-exporter application settings
  prometheusJsonExporter:
    image: public.ecr.aws/r2h3l6e4/pingcloud-monitoring/prometheus-json-exporter:v2.1.0-RC2
  grpRadiusProxy:
    image: public.ecr.aws/r2h3l6e4/pingcloud-services/grp-radiusproxy:v2.1.0-RC2



