  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: karpenter
    namespace: kube-system
  spec:     
    template: 
      metadata:
        annotations:
          prometheus.io/path: '/metrics'
          prometheus.io/port: '8001'
          prometheus.io/scrape: 'true'
